*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

.intestazione{

    background-color: #FFFFFF;
    padding: 20px;

}
body{

    background-color:#F6F8F9;
    
}

.navigazione{

    background-color: #FFFFFF;
    width: 70%;
    margin: 40px auto 10px auto;
    padding: 20px 50px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.container{
 
    background-color: #FFFFFF;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top:40px;
    padding-left: 40px;
}   


.button{

    border-radius: 10%;
    
}

.freccia{

    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    
    

}

.title-section{

    display: inline-block;
    vertical-align: middle;
    
}

.check{

    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;

}

#logo{

    vertical-align: middle;

}

#title{

    display: inline-block;
    vertical-align: middle;
    
}

#add-task{

    background-color: #47ADF1;
    color: white;
    border-color:#47ADF1;
    padding: 10px;
}

#add-section{

    background-color: white;
    color: #D8DCDF;
    border-color:#D8DCDF;
    padding: 10px;
}

#true{
    
    color: green;
    border: 1px solid green;
}

#false{

    color: red;
    border: 1px solid red;
}
